* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    color: white;
    
}

html{
    font-family: 'Open Sans', sans-serif;

}

img {
	width: 100%;
    display: block;
}

:root {
	--darkblue: #141922;
    --darkgray: #282828;
    --gray: #838383;

}

ul,
ol,
menu,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-webapp{
    background-color: var(--darkblue);
    flex-grow: 1;
    display: flex;
}

.player{
    background-color: var(--darkgray);
    height: 90px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 230px;
    flex-shrink: 0;
}

.home{
    flex-grow: 1;
}

/* MEDIAQUERY MAIN STRUCTURE*/

@media screen and (max-width: 552px) {
    .sidebar{
        width: 50px;
    }	




}

/* sezione player */


.media-player{   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 35%;
    
}

.volume-player{    
    display: flex;
    
}

.button-player{    
    display: flex;    
    align-items: center;
}

.reproduction-player{
    
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-player{
    display: flex;
    align-items: center;
}

.album-cover-player{
    width: 42px;
    
}

.info-song{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 40px;
}

.brano-player{
    font-size: 12px;
    font-weight: bold;
}

.artist-player{
    font-size: 8px;
    color: var(--gray);
}

.icon-small{    
    margin-right: 15px;
    font-size: 16px;
    
}

.icon-gray{
    color: var(--gray);
}

.button-player :nth-child(3) {
    font-size: 32px;
}

.barra-riproduzione{
    height: 5px;
    background-color: var(--gray);
    border-radius: 20px;
    flex-grow: 1;
    margin: 0 25px;
}

.barra-indicator{
    height: 5px;
    background-color: white;
    border-radius: 20px;
    width: 20%;
    }



@media screen and (max-width: 878px) {
    .icon-group{
        display: flex;
        flex-direction: column;        
    }
 
}


@media  screen and (max-width:552px) {

    .info-song{
        margin-right: 12px;
    }
    
}

.volume-control{
    display: contents;
    display: flex;
    align-items: center;
    
}

.barra-volume{
    height: 5px;
    background-color: var(--gray);
    border-radius: 20px;
    width: 85px;
    
}

.volume-impostato{
    height: 5px;
    background-color: white;
    border-radius: 20px;
    width: 47%;
    
}

/* SEZIONE SIDEBAR */



.svg-icon{
    width: 22px;
    display: inline;
}

.logo-big{
    width: 132px;
    margin: 20px;    
}

.logo-small{
    display: none;
}

.sidebar-items{
    margin: 12px 20px;    
}

.playlist-title{
    margin-left: 20px;
    margin-top: 18px;
    
}
.fa-square-plus{
    font-size: 38px;
    margin: 10px 10px 20px 20px;
}

.nome-playlist li{
    margin: 12px 20px 12px 20px;
}

.playlist-container{    
    margin-bottom: auto;
}


@media  screen and (max-width:552px) {

    .svg-icon-name,
    .logo-big{
        display: none;
    }

    .container-loghi{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-small{
        display: block;
        width: 30px;
       margin: 14px 0;
        
        
    }
    .sidebar-items{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 14px 0;
        
    }

    .my-profile{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 14px 0;
    }

    .playlist-container{
        display: none;
    }

    .sidebar-items{
        margin-bottom: auto;
    }

    .installa-app{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 14px 0;
        
    }
    
}

.installa-app{
    display: flex;
    align-items: center;
    margin: 12px 20px 12px 20px;
    gap: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  
}

.my-profile{
    display: flex;
    align-items: center;
    margin: 12px 20px 12px 20px;
    gap: 12px;
    flex-shrink: 0;
}

.profile-icon{
    display: flex;
    align-items: center;
    background-color: var(--gray);
    width: 25px;
    border-radius: 50%;
    flex-shrink: 0;
}

/* SEZIONE HOME */

.effettua-upgrade{
    background-color: #090B12;
    height: 90px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.button-transparent{
    margin-right: 15px;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 999px;
    font-size: 12px;
}

