* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    color: white;
    
}

html{
    font-family: 'Open Sans', sans-serif;

}

img {
	width: 100%;
    display: block;
}

:root {
	--darkblue: #141922;
    --darkgray: #282828;
    --gray: #838383;

}

ul,
ol,
menu,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-webapp{
    background-color: var(--darkblue);
    flex-grow: 1;
    display: flex;
}

.player{
    background-color: var(--darkgray);
    height: 90px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sidebar{
    background-color: black;
    width: 230px;
    flex-shrink: 0;
}

.home{
    flex-grow: 1;
}

/* MEDIAQUERY MAIN STRUCTURE*/

@media screen and (max-width: 552px) {
    .sidebar{
        width: 50px;
    }	


}

/* sezione player */


.media-player{   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 35%;
    
}

.volume-player{    
    display: flex;
    
}

.button-player{    
    display: flex;    
    align-items: center;
}

.reproduction-player{
    
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-player{
    display: flex;
    align-items: center;
}

.album-cover-player{
    width: 42px;
    
}

.info-song{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 40px;
}

.brano-player{
    font-size: 12px;
    font-weight: bold;
}

.artist-player{
    font-size: 8px;
    color: var(--gray);
}

.icon-small{    
    margin-right: 15px;
    font-size: 16px;
    
}

.icon-gray{
    color: var(--gray);
}

.button-player :nth-child(3) {
    font-size: 32px;
}

.barra-riproduzione{
    height: 5px;
    background-color: var(--gray);
    border-radius: 20px;
    flex-grow: 1;
    margin: 0 25px;
}



@media screen and (max-width: 878px) {
    .icon-group{
        display: flex;
        flex-direction: column;        
    }
 
}


@media  screen and (max-width:552px) {

    .info-song{
        margin-right: 12px;
    }
    
}

.volume-control{
    display: contents;
    display: flex;
    align-items: center;
    
}

.barra-volume{
    height: 5px;
    background-color: var(--gray);
    border-radius: 20px;
    width: 85px;
    
}